<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.GF.verbum">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".commun.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9592543293433576~4603100620"/>
        <activity
            android:name=".ui.pantallajuegos.tutorial.tutorialActivity"
            android:label="@string/title_activity_tutorial"></activity>
        <activity android:name=".ui.pantallajuegos.Sintaxis.explicacionSintaxisActivity" />
        <activity
            android:name=".ui.pantallajuegos.Sintaxis.SintaxisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pantallajuegos.record.RecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pantallajuegos.modoJuegos.EleccionJuegoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pantallajuegos.modoJuegos.pantalla_juegos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pantallajuegos.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>